1. DataServer
2. ConnectServer
3. GameServer_Regular
4. GameServer_Siege
5. ChatServer
IGC.Launcher.Server v1.2.0.12
3. GameServer_Regular3
3. GameServer_Regular2
3. GameServer_Regular
3. GameServer_Regular1
3. GameServer_Regular_TES